<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>To-Do List ✔</title>

    <!-- Favicon -->
    <link rel="icon" href="icons/favicon.ico">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="box-container">
        <div class="text-wrapper">
            <h1 class="title">To-Do List for:</h1>
            <h2><%= date %> <span class="today"><%= day %></span></h2>
        </div>
    </div>

    <div class="box-container list-wrapper">
        <ul>
            <% for(var i = 0; i < todo.length; i++) { %>
                <li>
                    <input type="checkbox">
                    <span class="item"><%= todo[i] %></span>
                    <span class="tooltip tooltip-cross-out">cross out item</span>
                </li>
            <% } %>
        </ul>

        <form class="new-item-form" action="/" method="post">
            <input type="text" placeholder="New Item" name="newItem" autocomplete="off" autofocus>

            <div class="button-container">
                <button class="add-button" type="submit" name="button" value="add">+</button>
                <span class="tooltip tooltip-add">add item to list</span>
            </div>

            <div class="button-container">
                <button class="clear-button" type="submit" name="button" value="clear"><i class="far fa-trash-alt"></i></button>
                <span class="tooltip tooltip-clear">clear list</span>
            </div>

        </form>

    </div>

    <footer>
        İsmail Sezer Bullalıoğlu &copy; 2022
    </footer>

</body>

</html>