body {
    background-color: #eee;
    text-align: center;
}

h1 {
    color: rebeccapurple;
}

h2 {
    color: dodgerblue;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
}